{% set name = item['path'].split('/')[4] %}
{% set intel_mpi_release = name.split('.')[0] %}
#%Module1.0#

# Copyright (C) 2020 Oracle Corp.
# This file is released under Universal Permissive License 1.0
# Authors:
# Fio Cattaneo <fio.cattaneo@oracle.com> <fio@catttaneo.us>
# Marcin Zablocki <mzablocki@oracle.com>

proc ModulesHelp { } {
        puts stderr "\tAdds Intel MPI {{ name }}  environment paths, suitable for OCI RDMA\n"
}

module-whatis   "loads Intel MPI {{ name }} module for OCI RDMA"

conflict        mpi

module  load    {{ item['path'] }}/intel64/modulefiles/mpi
set             i_mpi_root                              $::env(I_MPI_ROOT)
setenv          OCI_MPI_ROOT                            $i_mpi_root

setenv          MPI_BIN                                 $i_mpi_root/intel64/bin
setenv          MPI_INCLUDE                             $i_mpi_root/intel64/include
setenv          MPI_LIB                                 $i_mpi_root/intel64/lib
setenv          MPI_MAN                                 $i_mpi_root/man
setenv          MPI_HOME                                $i_mpi_root/intel64

set             i_mpi_fallback                          0
setenv          I_MPI_FALLBACK                          $i_mpi_fallback
set i_fabric                  "shm_dapl"
set oci_libfabric_options     ""
if { [info exists ::env(I_MPI_OFI_LIBRARY_INTERNAL) ] } {
    set i_fabric                   "shm_ofi"
    set i_mpi_ofi_library_internal $::env(I_MPI_OFI_LIBRARY_INTERNAL)
    set oci_libfabric_options      "-genv I_MPI_OFI_LIBRARY_INTERNAL=$i_mpi_ofi_library_internal"
}
if { [info exists ::env(FI_PROVIDER_PATH) ] } {
    set i_fabric                   "shm_ofi"
    set fi_provider_path           $::env(FI_PROVIDER_PATH)
    set oci_libfabric_options      "-genv FI_PROVIDER_PATH=$fi_provider_path"
}
switch $i_fabric {
    "shm_dapl" {
        set             i_mpi_fabrics_suffix                    DAPL
        set             i_mpi_fabrics                           shm:dapl
        set             dat_override                            /etc/dat.conf
        set             i_mpi_dat_library                       /usr/lib64/libdat2.so
        set             i_mpi_dapl_provider                     ofa-v2-cma-roe-rdma0
	    setenv          I_MPI_FABRICS                           $i_mpi_fabrics
        setenv          DAT_OVERRIDE                            $dat_override
        setenv          I_MPI_DAT_LIBRARY                       $i_mpi_dat_library
        setenv          I_MPI_DAPL_PROVIDER                     $i_mpi_dapl_provider
    }
    "shm_ofi" {
        set             i_mpi_fabrics_suffix                    OFI
        set             i_mpi_fabrics                           shm:ofi
        setenv          I_MPI_FABRICS                           $i_mpi_fabrics
        setenv		UCX_IB_GID_INDEX			3
        setenv		UCX_TLS					rc,self,sm
	setenv		UCX_IB_TRAFFIC_CLASS       		105
	setenv		UCX_IB_SL				5
    }
}

set             i_mpi_debug                             0
set             i_mpi_pin_processor_list                0-35
setenv          I_MPI_DEBUG                             $i_mpi_debug
setenv          I_MPI_PIN_PROCESSOR_LIST                $i_mpi_pin_processor_list                
